.github
.next
.open-next
.storybook
.vscode
.wrangler
docs
node_modules
scripts
npm-debug.log

.env.vars
.dockerignore
.editorconfig
.gitignore
.prettierignore
.prettierrc.json
.vercelignore
compose.yaml
Dockerfile
LICENSE.md
Makefile
SECURITY.md

src/stories
src/components/ui/**/*.stories.tsx

